.page {
  text-align: center;

  & .hidden-when-not-logged-in {
    display: none;
  }

  &.logged-in {
    .visible-when-not-logged-in {
      display: none;
    }

    .hidden-when-not-logged-in {
      display: initial;
    }
  }

  .container {
    margin-left: $side-nav-width;
    padding-top: $top-nav-height;
    width: $container-width;
  }
}

@media only screen and (max-width: $resolution-break-mobile) {
  .page {
    .container {
      margin-left: 0;
      width: $page-width-mobile;
    }
  }
}
