.my-profile {
  .card-image {
    position: relative;

    .pic-cover {
      background-color: $black;
      bottom: 0;
      height: 100%;
      left: 0;
      margin: auto;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;

      .file-input {
        bottom: 0;
        height: 100%;
        left: 0;
        margin: auto;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
      }
    }

    .btn-edit-profile-pic {
      bottom: 0;
      display: none;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
    }

    &:hover {
      cursor: pointer;

      .pic-cover {
        opacity: .7;
      }

      .btn-edit-profile-pic {
        display: initial;
      }
    }
  }
}
