<div class="my-profile">
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img class="profile-pic" src="{{picture}}">
          <div class="pic-cover">
            <input type="file" class="file-input">
          </div>
          <a class="btn-floating waves-effect waves-light grey btn-edit-profile-pic"><i class="material-icons">edit</i></a>
        </div>
        <div class="card-content">
          <p>{{username}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-info">
    <h1>{{username}}</h1>
    <h3>27 years, Sofia, Bulgaria</h3>
    <p>Good people do not need laws to tell them to act responsibly, while bad people will find a way around the laws.</p>
    <p>512 friends</p>
    <p>18 followers</p>
    <p>466 photo</p>
    <p>934 video</p>
    <p>2,5k tracks</p>
    <p>Birthday</p>
    <p>Hometown</p>
    <p>Marital status</p>
    <p>Web site</p>
  </div>
</div>
