<div class="home">
  <div class="wall">
    <div class="row">
      <div class="col s12 offset-m2 m8">
          <div class="input-field wall-post z-depth-1 right-align">
            <input placeholder="&#9998; Type your message" id="input-post" class="input-post" type="text" />
            <img id="img-preview" src="#" alt="your image" class="responsive-img hide" />
            <div class="file-field input-field">
              <div class="btn btn-flat btn hide" id="btn-preview">
                <i class="material-icons left">perm_media</i>Add picture
                <input type="file" id="img-input" />
              </div>
            </div>
            <a id="btn-post" class="waves-effect waves-light btn hide btn-post">Post</a>
          </div>
      </div>
    </div>
    <ul class="list-posts">
      {{#each result}}
      <li data-id="{{id}}">
        <div class="row">
          <div class="col s12 offset-m2 m8">
            <div class="card">
              <div class="card-content">
                <div class="header">
                  <img src="../assets/images/{{picture}}" alt="" class="responsive-img profile-picture">
                  <div>
                    <span class="title username">{{username}}</span>
                    <p class="time">{{time}}</p>
                  </div>
                </div>
                <div class="text">
                  <p>{{text}}</p>
                </div>
              </div>
              {{#if img}}
                <div class="card-image">
                  <img src="{{img}}" class="responsive-img">
                </div>
              {{/if}}
              <div class="card-action">
                <div class="comments">
                  <a href="" class="btn btn-flat btn-comment">
                    <span class="comments-label">Comment</span>
                    <i class="material-icons right">comment</i>
                  </a>
                  <span class="comments-count">0</span>
                </div>
                <div class="likes">
                  <a href="" class="btn btn-flat btn-like">
                    <span class="likes-label">Like</span>
                    <i class="material-icons right">thumb_up</i>
                  </a>
                  <span class="likes-count">{{likes}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>
