<div class="login">
  <div class="card">
    <div class="card-content">
      <span class="card-title">Login</span>
      <div class="input-field col s6">
        <input id="tb-username" type="text" class="validate">
        <label for="tb-username">Username</label>
      </div>
      <div class="input-field col s12">
        <input id="tb-password" type="password" class="validate">
        <label for="tb-password">Password</label>
      </div>
      <div>
        <p><a href="#/register">Don't have an account? Register</a></p>
      </div>
    </div>
    <div class="card-action">
      <button id="btn-login" class="waves-effect waves-light btn">Login</button>
    </div>
  </div>
</div>
