// install Ruby
// install SASS
// type in the command line:
// sass --watch styles/main.scss:styles/main.css

$pageWidth: 100vw;
$sideNavWidth: 20vw;
$chatWidth: 20vw;
$containerWidth: $pageWidth - $sideNavWidth;
$wallWidth: $containerWidth;
$profilePicHeight: 64px;
$topNavHeight: $profilePicHeight;

$lightBlue: #53759B;
$darkBlue: #527399;
$lightText: #9DAFC4;
$darkText: #3D638D;
$background: #F5F7FA;
$white: #fff;

* {
  margin: 0;
  padding: 0;
}

#page {
  text-align: center;

  & .hidden-when-not-logged-in,
  &.logged-in .visible-when-not-logged-in {
    display: none;
  }

  &.logged-in .hidden-when-not-logged-in {
    display: initial;
  }

  .top-nav {
    position: fixed;
    z-index: 9999;

    .nav-wrapper {
      background-color: $lightBlue;

      .brand-logo {
        margin: 0 0 0 1em;
      }

      .profile-picture, .logo-picture {
        max-height: 40px;
        vertical-align: middle;
      }
    }
  }

  .side-nav.fixed {
    width: $sideNavWidth;
    padding-top: $topNavHeight;
    background-color: $background;
    text-align: left;

    li a, li a i{
      color: $darkText;
    }

    li.active a, li.active a i{
      font-weight: bold;
    }
  }

  #container {
    margin-left: $sideNavWidth;
    width: $containerWidth;
    padding-top: $topNavHeight;

    .login {
      width: 50%;
      margin: 5% auto;
    }

    .home {
      display: flex;

      .wall {
        width: $wallWidth;
        background-color: $background;

        .wall-post {
          margin-top: 20px;
          padding: 3%;
          background-color: $white;

          .material-icons {
            top: 22px;
            color: $lightText;
          }

          .input-post {
            margin: 0;
            padding-left: 40px;
            border: 1px solid lightgray;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
          }
        }

        /* label underline focus color */
        .input-field input[type=text]:focus {
          border: 1px solid $lightText;
          box-shadow: 0 1px 0 0 $lightText;
        }
        /* icon prefix focus color */
        .input-field .prefix.active {
          color: $lightText;
        }

        .list-posts {
          list-style-type: none;

          & li {
            margin-bottom: 50px;
          }

          .card-content {
            text-align: left;

            .header {
              display: flex;

              .profile-picture {
                max-height: 40px;
              }

              .username {
                padding: 0 10px;
                color: $darkText;
                font-weight: bold;
              }

              .time {
                padding: 0 10px;
                color: $lightText;
              }
            }

            .text {
              padding: 20px 0 0 0;
            }
          }

          .card-action {
            display: flex;
            justify-content: space-between;
            padding: 10px 5px;
            color: $lightText;

            i, span {
              vertical-align: middle;
              padding: 2px;
            }

            a {
              margin: 0;
              text-transform: none;
              color: inherit;

              &:hover {
                color: $darkText;
              }
            }
          }
        }
      }
    }

    .messages {
      position: fixed;
      right: 0;
      width: $chatWidth;
      font-weight: bold;
      color: $lightBlue;

      .chat-header {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        color: grey;

        & span:first-child {
          text-transform: uppercase;
        }

        & span:last-child {
          font-style: italic;
        }
      }

      .list-users {
        border: none;

        .collection-item {
          border: none;
          min-height: $profilePicHeight;
          text-align: left;

          .username {
            padding: 10px 0 0 10px;
          }
        }
      }
    }
  }
}
