#page #container .messages {
  position: fixed;
  right: 0;
  width: $chatWidth;
  font-weight: bold;
  color: $lightBlue;

  .chat-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: grey;

    & span:first-child {
      text-transform: uppercase;
    }

    & span:last-child {
      font-style: italic;
    }
  }

  .list-users {
    border: none;

    .collection-item {
      border: none;
      min-height: $profilePicHeight;
      text-align: left;

      .username {
        padding: 10px 0 0 10px;
      }
    }
  }
}
